* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Raleway', sans-serif;
}

/*Sass*/
/* barra navegacion universal*/
.navbar-collapse {
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
}

/* Footer universal */
footer {
  min-height: 100px;
  }

footer p{
  text-align: center;
}

#iconos i{
  font-size: 26px;
  padding: 0px 8px;
  justify-content: center;
}
/* index.html */

.index {
  background-color: black;
}

/* Primer seccion */
.seccion-uno {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2.2fr 0.3fr;
      grid-template-columns: 0.5fr 2.2fr 0.3fr;
  -ms-grid-rows: 0.8fr 1.3fr 0.9fr;
      grid-template-rows: 0.8fr 1.3fr 0.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 100vh;
  width: 100%;
}

.seccion-uno .texto {
  width: 60%;
  position: relative;
  margin-left: 20%;
}

.seccion-uno h1 {
  font-size: 9vw;
  text-align: center;
  color: black !important;
}

.seccion-uno p {
  font-size: 4vw;
  text-align: center;
  color: black !important;
}

.seccion-uno h1,
.seccion-uno p,
.seccion-uno .seccion-uno {
  text-shadow: 0px 0px 7px white;
}

.img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 4 / 4;
  background-image: url(imagenes/mimicantando.jpg);
  background-size: cover;
  background-position: center;
}

.texto {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

/* Segund seccion */



/* Tercer seccion */


.carousel-inner {
  height: 40vw;
}

.carousel-inner .w-100 {
  height: 40vw;
}

/* fin index.html */
/* bio.html */
.BioMain {
  background-color: black;
}

/* bio.html seccion uno*/
.bodyBio {
  background-color: black;
}

.SeccionUnoBio {
  width: 100%;
  height: 60vh;
}

.SeccionUnoBio img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* bio.html seccion dos*/

#TextoMimi{
  color: #131313;
  font-size: 10vw;
  text-shadow: 0px 0px 4px white
}



/* bio.html */
/* galeria.html */
.seccionunogal div {
  height: 40vh;
  width: 100%;
}

.seccionunogal .logo {
  background-image: url(./imagenes/logomimi.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.galeria {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -ms-grid;
  display: grid;
  padding: 20px;
}

.foto {
  background-color: coral;
  border: 2px solid black;
  border-radius: 4px;
}

.foto:hover {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.foto2, .foto3, .foto4, .foto6, .foto7, .foto8 {
  background-image: url(./imagenes/mimicantando.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.foto3 {
  background-image: url(./imagenes/48790007.JPG);
}

.foto4 {
  background-image: url(./imagenes/mimidecostado.jpg);
}

.foto5 {
  background-image: url(./imagenes/MimiLagarto-ADT_still_00010[1897].png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.foto6 {
  background-image: url(./imagenes/48790005.JPG);
}

.foto7 {
  background-image: url(./imagenes/MimiLagarto-ADT_still_00012[1895].png);
}

.foto8 {
  background-image: url(./imagenes/MimiLagarto-ADT_still_00024[1896].png);
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  
  .galeria{
    height: 250vh;
  }

  .foto2, .foto3, .foto4, .foto6, .foto7, .foto8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .foto3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .foto4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .foto5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .foto6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .foto7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .foto8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .foto2, .foto3, .foto4, .foto6, .foto7, .foto8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .foto3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .foto4 {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .foto5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3/3;
  }
  .foto6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .foto7 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .foto8 {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
  .foto2, .foto3, .foto4, .foto6, .foto7, .foto8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .foto3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .foto4 {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .foto5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .foto6 {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .foto7 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .foto8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

/* fin galeria.html */
/* videos.html */
.videoBody {
  background-color: black;
}

.videoPrincipal {
  width: 100%;
  height: 60vh;
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr 0.5fr;
      grid-template-columns: 0.5fr 2fr 0.5fr;
  -ms-grid-rows: 0.5fr 1.6fr 0.9fr;
      grid-template-rows: 0.5fr 1.6fr 0.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: black;
}

.videoPrincipalUno {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.videoPrincipal .videoPrincipalUno .youtube {
  height: 100%;
  width: 100%;
}

.VideosSecundarios {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.VideosSecundariosVideos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.VideosSecundariosVideos iframe {
  height: 25vw;
  width: 25vw;
}

#footerVideo {
  margin-top: 40px;
}

/* fin videos.html */
/* contacto.html */
.contactoBody {
  background-color: black;
}

.formContacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 2.6fr 0.2fr;
      grid-template-columns: 0.2fr 2.6fr 0.2fr;
  -ms-grid-rows: 0.2fr 2.6fr 0.2fr;
      grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 100vh;
}

.formContactoDiv {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.textoContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formCuadrado {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.textoContacto h1 {
  color: #660000;
  padding-top: 4vw;
  font-size: 5vw;
  text-shadow: 0px 0px 3px white;
}

.formContacto .formContactoDiv input {
  text-align: center !important;
  font-size: 2vw;
}

textarea.form-control {
  margin-top: 2vw;
  height: 10vw !important;
  margin-bottom: 2vw;
}

input.form-control.form-control-lg {
  margin-top: 2vw;
}

div.input-group {
  margin-top: 2vw;
}

/* fin contacto.html */
/*# sourceMappingURL=estilos.css.map */